# Core Build destination path
build-Debug/

# Direct root fallbacks if generated accidentally
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.codelite/

# Visual Studio Compiler specific outputs
*.pdb
*.ilk
*.idb
*.obj
*.exe.recipe

